{% extends "base.html" %}
{% load static %}
{% block content %}
{% load mathfilters %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/carrinho.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% if produtos_carrinho|length == 0 %}
<h1>Seu carrinho está vazio!</h1>
{% else %}
<table>
    <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Preço unitário</th>
            <th>Quantidade</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in produtos_carrinho %}
        <tr class="cart-prod">

            <td><img src="{{item.produto.imagem.url}}" alt="{{item.produto.nome}}" width="100px"></td>
            <td>{{item.produto.nome}}</td>
            <td class="prod-price">R$ {{item.produto.preco}}</td>
            <td>
                <form action="">
                    {% csrf_token %}
                    <input type="hidden" class="prodId" value="{{ item.produto.id }}">
                    <input style="width: 50px;" type="number" class="qtd-prod" name="quantidade" id="quantidade" min="0"
                        value="{{ item.quantidade }}">
                </form>
            </td>
            </td>



            <td><a href="{% url 'deleteitem' item.produto.id %}" id="delete-button" onclick="disableButtons()">Deletar
                    produto</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4" style="text-align: left;"><strong>Total</strong></td>
            <td class="total-cart">R$ {{carrinho.total}}</td>

        </tr>
    </tbody>
</table>
{% endif %}

<script src="{% static 'js/carrinho.js' %}"></script>

{% endblock content %}