.container {
    text-align: center;
    padding: 15px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.card {
    cursor: pointer;
    width: 200px;
    height: 300px;
    border-radius: 6px;
    display: grid;
    justify-items: center;
    gap: 0.3em;
    background-color: white;
    padding: 5px;
    transition: .3s;
}

.card img {
    width: 200px;
}

.card p#produto_nome {
    font-weight: bold;
}

.card p#produto_preco {
    font-size: 1.25em;
}

.card p#promocao {
    color: rgb(0, 184, 0);
    font-size: 0.8em;
}


/*----- HOVERS ------ */

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    transition: .3s;
}


/* ----- SLIDESHOW */

.carrossel {
    margin: 0 auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.219);
    overflow: hidden;
    height: 350px;
    width: 900px;
}

.container-slide {
    display: flex;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.container-slide img {
    object-fit: cover;
    height: 350px;
    width: 900px;
}